<h1><%= @user.username %>'s Profile</h1>

<h2>Comments</h2>
<% @user.comments.each do |comment| %>
	<p><%= comment.body %></p>
<% end %>

<%= render "shared/comments_form", commentable_id: @user.id, commentable_type: "User" %>

<% @user.goals.each do |goal| %>
	<p><%= link_to goal.title, goal_url(goal) %></p>
<% end %>